## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [1]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [13]:
import re
len(re.findall(r'([^\s\d\w])', string_01))

10

2. Посчитайте, сколько в строке слов.

In [37]:
len(re.findall('[a-z]+', string_01, flags=re.IGNORECASE))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [80]:
def find_words_by_letter(letter):
  d = {}
  for value in re.findall('[a-z]+', string_01, flags=re.IGNORECASE):
    d.setdefault(value[0], {value}).add(value)
  if d.get(letter):
    return ', '.join(d[letter])
  else:
    print('There is no word that begins on {}'.format(letter))


find_words_by_letter('a')
#find_words_by_letter('x')

'and, agreed, always, a'

In [191]:
def find_words_by_letter(letter):
  for value in set(re.findall('[a-z]+', string_01, flags=re.IGNORECASE)):
    if value.startswith(letter):
      print(value)

find_words_by_letter('a')

a
always
agreed
and

In [197]:
def find_words_by_letter(letter):
  print(', '.join(set(re.findall(r'\b[' + letter.lower() + letter.upper() + '+]\w*', string_01, flags=re.IGNORECASE))))

find_words_by_letter('a')

a, As, and, agreed, always

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [126]:
import random as r

r_val_str = str(r.randrange(0, 99999, 1)).zfill(6)
r_val_lsit = list(r_val_str)
r_pos = r.randrange(0, 5, 1)
print('Random value: ', r_val_str, 'Random position ', r_pos)
r_val_lsit[r_pos] = '3'

print('Result', ''.join(r_val_lsit))

Random value:  007788 Random position  2
Result 003788

#### Задача 3

Дан список:

In [128]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [137]:
sum(filter(lambda x: 10<x<100 or 200<x<500, list_01))

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [138]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [163]:
studs_dict = {e[0]: e[1:] for e in students}
studs_dict['0001']

['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161']

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [167]:
def update_group(stud_no, new_group_no):
  if studs_dict.get(stud_no):
    vals = studs_dict[stud_no]
    #print(vals, vals[:-1])
    studs_dict[stud_no] = vals[:-1] + [new_group_no]
  else:
    print('Student not found')

update_group('0001', 'qwerty')
studs_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'qwerty'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

In [199]:
def update_group(stud_no, new_group_no):
  if studs_dict.get(stud_no):
    vals = studs_dict[stud_no]
    #print(vals, vals[:-1])
    studs_dict[stud_no][4] = new_group_no
  else:
    print('Student not found')

update_group('0001', 'qwerty1')
studs_dict

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'qwerty1'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [172]:
def list_of_students(group_no):
  for v in studs_dict.values():
    if group_no in v:
      print(' '.join(v[0:3]))

list_of_students('БСТ161')

Степанова Наталья Александровна
Боков Игорь Харитонович

#### Задача 5

Дана матрица:

In [174]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [181]:
#sum([sum(x) for x in matrix])
sum(sum(matrix, []))

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [200]:
col_sum = [0 for x in range(0, 5)]
for row in matrix:
  for i in range(0, len(row)):
    col_sum[i] += row[i]

max(col_sum)

22

In [207]:
print(*matrix)

[0, 1, 2, 4, 8] [6, 2, 2, 1, 9] [3, 3, 3, 3, 3] [4, 6, 7, 1, 2] [5, 7, 3, 4, 0]

In [206]:
print(list(zip(*matrix)))

[(0, 6, 3, 4, 5), (1, 2, 3, 6, 7), (2, 2, 3, 7, 3), (4, 1, 3, 1, 4), (8, 9, 3, 2, 0)]

In [213]:
[sum(x) for x in list(zip(*matrix))]

[18, 19, 17, 13, 22]

In [214]:
max([sum(x) for x in list(zip(*matrix))])

22